.leaflet-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.leaflet-div-icon {
  background: none;
  border: none;
}

.leaflet-control-zoom {
  top: 100px;
}

.leaflet-control-attribution {
  visibility: hidden;
}
